<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Somesh Assignment Test Automation Test Suite">

    <listeners>
        <listener class-name="com.framework.report.ExtentReporterNG"/>
    </listeners>
    <test name="RiskSense Test Cases">
        <classes>
            <class name="test.Scenario1"/>
        </classes>
    </test>
</suite>